DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1504221925516509204/diSQBDnAjoT9CfVH3Gm7jGLCx5feDlPUqWkcUAFzOQyJThP0uYsTifFJ7_OAQG7MOpf1
NEXT_PUBLIC_MAX_ATTEMPTS=5
NEXT_PUBLIC_REDIRECT_URL=https://www.notaires.fr/fr
